In [2]:
fname = input('Isikan Nama Awal')
mname = input('Isikan Nama Tengah')
lname = input('Isikan Nama Akhir')

print('Selamat Datang',fname,mname,lname,"S.Kom")

Isikan Nama AwalRevan
Isikan Nama TengahFatkhurezi
Isikan Nama AkhirDesviansyah
Selamat Datang Revan Fatkhurezi Desviansyah S.Kom

In [4]:
bil1 = input('Isikan Bilangan 1:')
bil2 = input('Isikan Bilangan 2:')
print(type(bil1))
hasil = int (bil1) + int (bil2)
print('Hasil Penjumlahan', hasil)

Isikan Bilangan 1:7
Isikan Bilangan 2:10
<class 'str'>
Hasil Penjumlahan 17

In [8]:
#luas => p * l
#keliling => 2 * (p+l)

p = input('Isikan Panjang Persegi')
l= input('Isikan Lebar Persegi')

luas = int(p) * int(1)
keliling = 2 * (int(p) + int(1))

print('Luas Persegi Panjang',luas)
print('Keliling Persegi Panjang',keliling)

Isikan Panjang Persegi14
Isikan Lebar Persegi15
Luas Persegi Panjang 14
Keliling Persegi Panjang 30

In [9]:
print("Senin","Selasa","Rabu","Kamis","Jumat","Sabtu","Minggu",sep="@",end="^-^")
print("one","Two","Three","Four",sep="\n")

Senin@Selasa@Rabu@Kamis@Jumat@Sabtu@Minggu^-^one
Two
Three
Four

In [10]:
number1 = 7
number2 = 10

# Hasil perkalian 7 dengan 10 adalah 70
print("Perkalian {} dengan {} adalah {}".format(number1,number2,number1 * number2))

Perkalian 7 dengan 10 adalah 70

In [12]:
first_letter = "A"
middle_letter = "B"
last_letter = "C"

print("Urutan Huruf {2}{1}{0}".format(first_letter,middle_letter,last_letter))

Urutan Huruf CBA

In [17]:
# Sekarang tanggal 20 Bulan Maret Tahun 2024
print("Sekarang tanggal {tanggal} bulan {bulan} tahun {tahun}".format(tanggal = 20,bulan="maret",tahun=2024))

Sekarang tanggal 20 bulan maret tahun 2024

In [20]:
kampus = "Universitas Nusa Putra"
print("Huruf pertama adalah:",kampus[0])
print("Huruf Terakhir adalah:",kampus[-1])
print("Huruf Range 0-10:",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#Reverse String
print(kampus[::-1])

Huruf pertama adalah: U
Huruf Terakhir adalah: a
Huruf Range 0-10: Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [2]:
#Split => String -> List
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])
#join -> List -> String
join_kota = "@".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Jakarta
Jakarta@Sukabumi@Malang@Bandung@Surabaya

In [9]:
# Isikan nama : Revan Fatkhurezi
# Isikan tanggal lahir : 30/12/1945
# Output :
# Nama awal : Revan
# Nama akhir : Fatkhurezi
# Tgl Lahir : 30
# Bulan lahir : 12
# Tahun Lahir : 1945
# Nama Inisial : RF

nama = input("Isikan Nama Anda:")
tgl = input("Isikan Tanggal Lahir:")

list_nama = nama.split()
print("Nama Awal :", list_nama[0])
print("Nama Akhir :", list_nama[1])
print("Nama Inisial :", list_nama[0][0] + list_nama[1][0])

Isikan Nama Anda:Revan Fatkhurezi
Isikan Tanggal Lahir:30/12/1945
Nama Awal : Revan
Nama Akhir : Fatkhurezi
Nama Inisial : RF